:root {
  --purple: #800080;
}
html {
  font-size: 50%;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif; /* background-color: rgb(51, 51, 51); */
}
.checking {
  /* width: %;
  height: 100vh; */
  position: fixed;
  /* background-color: rgb(51, 51, 51); */
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
  padding: 0px 4rem;
}
.navbar__cartcount {
  font-size: 2.4rem;
  background-color: var(--purple);
  color: white;
  border-radius: 50%;
  padding: 0px 7px;
}
.navbarrrr {
  width: 100vw;
  height: 10rem;
  background-color: rgb(239, 246, 252);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 9px 40px 0px 20px; */
  padding: 20px;
  box-sizing: border-box;
}
.navlink {
  text-decoration: none;
  color: var(--purple);
  font-size: 4rem;
  font-weight: 400;
  margin: 15px;
  text-align: center;
}
.sideLink {
  display: flex;
  flex-direction: row;
}
header input {
  width: 40%;
  font-size: 28px;
  outline: none;
  padding: 5px;
}
.cartIcon {
  font-size: 50px;
}
.cart-icon {
  /* position: relative; */
  /* background-color: antiquewhite; */
  /* width: 10rem;
  height: 10rem; */
  /* font-size: 30px;
  cursor: pointer; */
}
.shopping-icon {
  /* position: absolute; */
  top: 0;
  left: 0;
  color: black;
  font-size: 65px;
}
.logo {
  width: 10rem;
}
.item-no {
  /* position: absolute; */
  /* top: 2.3rem;
  left: 5.5rem; */
  /* top: 15%;
  left: 39%;
  z-index: 2; */
  font-size: 25px;
  font-weight: bold;
  color: rgb(134, 1, 134);
}

.singleProduct {
  box-sizing: border-box;
  width: 30%;
  height: 40rem;
  text-decoration: none;
  margin: 20px;

  padding: 10px;

  background-color: rgb(245, 244, 244);
}
.home_product {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 50rem;
  height: 40rem;
  text-decoration: none;
  margin: 20px;

  padding: 10px;

  background-color: white;
}

.singleProduct__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.home__product_content {
  position: relative;
}
.home__product_content:hover {
  transform: scale(1);
}
.serviceheading {
  width: 65%;

  margin: auto;
}
.serviceheading div:nth-child(1) {
  text-align: left;
  color: grey;
  font-size: 3rem;
  text-transform: uppercase;
}
.serviceheading div:nth-child(2) {
  text-align: left;
  color: black;
  font-size: 5rem;
  font-weight: bold;
}
.services {
  height: 60vh;
  padding: 10rem;
  width: 100%;
  background-color: rgb(244, 242, 242);
}
.tag {
  position: absolute;
  right: 0px;
  top: 10px;
  color: white;
  padding: 10px;
  background-color: rgb(195, 194, 194);
  border-radius: 80px;
  width: 20rem;
  font-size: 3.4rem;
  margin: 10px;
  box-sizing: border-box;
}
.singleProduct__detail {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.singleProduct__detail div:nth-child(1) {
  color: rgb(39, 39, 39);
  font-size: 3rem;
  font-weight: 500;
}
.singleProduct__detail div:nth-child(2) {
  color: rgb(104, 104, 243);
  font-size: 3rem;
}

.detail {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 50%;
}
.productName {
  margin: 5px;
  padding: 0;
  font-size: 3rem;
}
.productPrice {
  margin: 5px;
  padding: 0;
  font-size: 2rem;
}
.productDelivery {
  margin: 5px;
  padding: 0;
  font-size: 2rem;
}
.addCart,
.removeCart {
  margin: 5px;
  padding: 0;
  padding: 15px;
  color: black;
  background-color: orange;
  border-radius: 10px;
  border: 2px solid grey;
  font-size: 2rem;
}
.removeCart {
  background-color: rgb(246, 112, 112);
}
.addCart:disabled {
  color: white;
  border: none;
  background-color: rgb(178, 178, 248);
}

.productContainer {
  padding-top: 50px;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar {
  box-sizing: border-box;
  text-align: left;
  width: 20%;
  height: 100vh;
  /* background-color: rgb(51, 51, 51); */
  color: black;
  padding: 20px;
  padding-top: 100px;
}
.sidebar__searchbar {
  width: 20rem;
  height: 3rem;
  height: 5rem;
  border: 1px solid grey;
  font-size: 2.5rem;
}
.sidebar__searchbar::placeholder {
  color: var(--purple);
}
.sidebar_title {
  font-size: 4rem;
  color: black;
  line-height: 1.5;
}
.sidebar__category:hover {
  color: var(--purple);
  font-size: 3rem;
}
.sidebar__category {
  cursor: pointer;
  color: grey;
  font-size: 2.5rem;
  line-height: 1.5;
  word-spacing: 1.5px;
}
.sidebar__price option,
.lh {
  font-size: 2.5rem;
  height: 5rem;
  color: grey;
}
.content {
  display: flex;
  margin: auto;
  padding: 20px;
  /* background-color: pink; */
  width: 80vw;
  height: 100vh;
}
/* .sidebar_title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: orange;
} */
/* .sidebar label {
  margin: 10px;
  font-size: 3rem;
} */

.sidebar__button {
  margin: 6rem 0rem;
  width: 80%;
  font-size: 3rem;
  background-color: var(--purple);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
.backBtn {
  font-size: 25px;
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 2rem;
  margin: 3rem;
  border: 3px solid grey;
  border-radius: 10px;
}
.contain {
  width: 100%;
  height: 100%;
  display: flex;
}
.cartList {
  margin: 100px;
  width: 70%;
  height: 100%;
  /* background-color: pink; */
}
.summary {
  width: 20%;
  height: 40vh;
  background-color: white;
  border-left: 2px solid grey;
  margin-top: 20rem;
  padding-top: 20px;
}
.btn {
  margin: 30px;
}
.cart_item {
  width: 60%;
  height: 150px;
  background-color: rgb(235, 233, 233);
  margin: 3rem auto;
  text-align: left;
  display: flex;
  align-items: center;
  border: 1px solid rgb(183, 182, 182);
}
.cart_item img {
  width: 15%;
  height: 80%;
  margin-left: 10px;
}
.item_detail {
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  padding: 20px;
}
.item_detail p:nth-child(1) {
  font-size: 3rem;
  color: black;
  margin: 5px;
  font-weight: bold;
}
.item_detail p:nth-child(2) {
  font-size: 3rem;
  color: var(--purple);
  margin: 5px;
}
#quantity {
  /* border: none; */
  font-size: 20px;
  color: black;
}
.summary h1 {
  font-size: 30px;
}
.summary p {
  font-size: 25px;
}
.checkoutbtn {
  padding: 10px;
  background-color: orange;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
}
/* .checkout {
  background-color: orange;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
} */
.rate {
  font-size: 3rem;
  /* padding-left: 22px; */
}
.sidebar-subtitle {
  margin: 1rem;
  font-size: 4rem;
}
.checkout {
  background-color: white;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  padding: 0;
}
.productDetail {
  /* background-color: #800080; */
  width: 70vw;
  height: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.productDetail__Image {
  width: 40%;
  height: 100%;
  /* background-color: red; */
}
.productDetail__Details {
  box-sizing: border-box;
  padding-top: 100px;
  text-align: left;
  width: 40%;
  height: 100%;

  /* background-color: pink; */
}
.productDetail__Image img {
  padding-top: 100px;
  width: 50rem;
  height: 50rem;
}
.productDetail__Details--name {
  text-transform: capitalize;
  color: black;
  font-size: 4rem;
  margin: 8px;
}
.rating_text {
  color: gray;
  font-size: 2rem;
}
.productDetail__Details--price {
  font-size: 3rem;
  color: var(--purple);
  margin: 10px;
}
.productDetail__Details--description {
  font-size: 2.5rem;
  color: grey;
}
.productDetail__Details--available,
.productDetail__Details--brand {
  font-size: 3rem;
  text-transform: capitalize;
}
.productDetail__Details--btn,
.productDetail__Details--remove,
.productDetail__Details--add {
  display: inline-block;
  background-color: var(--purple);
  font-size: 2rem;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: aliceblue;
  cursor: pointer;
  width: 25rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 3rem;
}
.productDetail__Details--add {
  height: 6rem;
}
.productDetail__Details--remove {
  height: 6rem;
  background-color: rgb(248, 149, 149);
}
.grey {
  color: grey;
}
.cartEmpty {
  text-align: left;
  font-size: 8rem;
  color: var(--purple);
  font-weight: bold;
}
.heroSection {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin: 15rem;
}
.heroSection__content {
  width: 40%;
}

.heroSection__background {
}
.heroSection__content--heading {
  text-align: left;

  width: 30%;
  padding: 30px;
}
.heroSection__content--heading span:nth-child(1) {
  font-size: 3rem;
  color: grey;
  text-transform: uppercase;
}
.heroSection__content--heading span:nth-child(3) {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bolder;
}
.heroSection__description {
  font-size: 3rem;
}
.heroSection__button {
  display: inline-block;
  padding: 1rem;
  background-color: var(--purple);
  color: white;
  font-size: 3rem;
  text-decoration: none;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  margin: 2rem;
  margin-left: 0px;
}
.heroSection__content--image {
  text-align: left;
  width: 40%;
  padding: 30px;
  margin: 20px;
  position: relative;
}
.heroSection__content--image img {
  width: 60rem;
  height: 50rem;
}
.heroSection__image {
  position: absolute;
  z-index: 1;
  left: 15%;
}
.heroSection__background {
  position: absolute;
  width: 60rem;
  height: 50rem;
  left: 20%;
  bottom: 2%;
  background-color: rgb(216, 216, 216);
}
.policy {
  margin: 10rem;
  display: flex;
  justify-content: center;
}
.middle {
  display: flex;
  flex-direction: column;
}
.middle div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  border-radius: 15px;
  width: 45rem;
  height: 18rem;
  margin: 2rem;
  background-color: rgb(241, 242, 242);
}
.policy__first {
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  width: 42rem;
  height: 40rem;
  background-color: rgb(240, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
}
.footer {
  background-color: rgb(42, 0, 42);
  color: white;
  padding: 2rem;
  height: 30vh;
}
.footer_top {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 4rem 2rem;
}

.icon a {
  text-decoration: none;
  color: rgb(247, 205, 212);
  font-family: Rammetto One;
  font-size: 5rem;
}
.top {
  font-size: 2rem;
}
.top1,
.top2,
.top3,
.top4 {
  margin: 0px 10rem;
}

.email {
  width: 20rem;
  padding: 1.2rem;
}
.top2 form {
  margin: 1rem 0;
}
.sub_button {
  padding: 1.2rem;
  color: white;
  background-color: rgb(247, 205, 212);
  border: 1px solid rgb(247, 205, 212);
}
.icons {
  margin: 1rem;
  font-family: Rammetto One;
}
.top3 {
  text-align: center;
}
.icons a {
  color: white;
  font-size: 3.7rem;
  margin: 1rem;
}
.icons a:hover {
  color: rgb(247, 205, 212);
}
.top4 {
}
.footer_bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 2rem;
}
.bottom2 {
  text-transform: uppercase;
}
.footer {
  font-size: 3rem;
}
