html {
  font-size: 50%;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(51, 51, 51);
}
.checking {
  /* width: %;
  height: 100vh; */
  position: fixed;
  /* background-color: rgb(51, 51, 51); */
}
header {
  width: 100vw;
  height: 13rem;
  background-color: rgb(27, 26, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 20px;
  box-sizing: border-box;
}
header img {
  width: 25rem;
  height: 10rem;
}

header input {
  width: 40%;
  font-size: 28px;
  outline: none;
  padding: 5px;
}
.cart-icon {
  position: relative;

  width: 10rem;
  height: 10rem;
  cursor: pointer;
}
.shopping-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: orange;
  font-size: 85px;
}

.item-no {
  z-index: 0;
  position: absolute;
  top: 11px;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.singleProduct {
  box-sizing: border-box;
  width: 26%;
  height: 60rem;
  border: 1px solid grey;
  background-color: white;
  text-align: left;
  margin: 20px;
}
.singleProduct img {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.detail {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 50%;
}
.productName {
  margin: 5px;
  padding: 0;
  font-size: 3rem;
}
.productPrice {
  margin: 5px;
  padding: 0;
  font-size: 2rem;
}
.productDelivery {
  margin: 5px;
  padding: 0;
  font-size: 2rem;
}
.addCart,
.removeCart {
  margin: 5px;
  padding: 0;
  padding: 15px;
  color: black;
  background-color: orange;
  border-radius: 10px;
  border: 2px solid grey;
  font-size: 2rem;
}
.removeCart {
  background-color: rgb(246, 112, 112);
}
.addCart:disabled {
  color: white;
  border: none;
  background-color: rgb(178, 178, 248);
}

.productContainer {
  padding-top: 50px;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar {
  box-sizing: border-box;
  text-align: left;
  width: 25%;
  height: 100vh;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.sidebar_title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: orange;
}
.sidebar label {
  margin: 10px;
  font-size: 3rem;
}

.sidebar button {
  margin: 6rem;
  width: 80%;
  font-size: 3rem;
  background-color: orange;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.backBtn {
  font-size: 25px;
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 2rem;
  margin: 3rem;
  border: 3px solid grey;
  border-radius: 10px;
}
.contain {
  width: 100%;
  height: 100%;
  display: flex;
}
.cartList {
  margin: 100px;
  width: 70%;
  height: 100%;
  /* background-color: pink; */
}
.summary {
  width: 20%;
  height: 40vh;
  background-color: white;
  border-left: 2px solid grey;
  margin-top: 20rem;
  padding-top: 20px;
}
.btn {
  margin: 30px;
}
.cart_item {
  width: 70%;
  height: 150px;
  /* background-color: bisque; */
  margin: 3rem auto;
  text-align: left;
  display: flex;
  align-items: center;
  border: 1px solid rgb(183, 182, 182);
}
.cart_item img {
  width: 15%;
  height: 80%;
  margin-left: 10px;
}
.item_detail {
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  padding: 20px;
}
.item_detail p:nth-child(1) {
  font-size: 3rem;
  color: black;
  margin: 5px;
  font-weight: bold;
}
.item_detail p:nth-child(2) {
  font-size: 3rem;
  color: orange;
  margin: 5px;
}
#quantity {
  /* border: none; */
  font-size: 20px;
  color: black;
}
.summary h1 {
  font-size: 30px;
}
.summary p {
  font-size: 25px;
}
.checkoutbtn {
  padding: 10px;
  background-color: orange;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
}
/* .checkout {
  background-color: orange;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
} */
.rate {
  font-size: 3rem;
  /* padding-left: 22px; */
}
.sidebar-subtitle {
  margin: 1rem;
  font-size: 4rem;
}
.checkout {
  background-color: white;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  padding: 0;
}
